* {
    font-family: 'Inria Serif', serif;
    text-align: center;
    margin: auto auto;
}

body {
    background-color: rgb(22, 22, 22);
    color: white;
}

.main-header-content {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #fff;
    text-align: center;
    filter: sepia(30%);
}

.main-header-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
}

#noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .15;
}

.line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #000;
}

.titleCont {
    position: relative;
}

.main-title {
    padding: .3em 1em .25em;    
    font-weight: 400;
    font-size: 40px;
    color: white;
    font-family: 'Bellefair', serif;
    position:relative;
    line-height:1.3;
}

.overTitle {
    position: relative;
    color: yellow;
}

.vignette{
    position:absolute;
    width:100%; height:100%;
    box-shadow:inset 0px 0px 150px 20px black;
    mix-blend-mode: multiply;
    -webkit-animation: vignette-anim 3s infinite; /* Safari 4+ */
    -moz-animation:    vignette-anim 3s infinite; /* Fx 5+ */
    -o-animation:      vignette-anim 3s infinite; /* Opera 12+ */
    animation:         vignette-anim 3s infinite; /* IE 10+, Fx 29+ */
  }

@-webkit-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-moz-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @-o-keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }
  @keyframes vignette-anim {
    0%   , 100%{ opacity: 1; }
    50% { opacity: 0.7; }
  }

header {
    background-size: cover;
    background-attachment:fixed;
    background-position: top center;
    display: flex;
    height: 50vh;
    flex-direction: column;
    background-image: url(images/backgoundHeader.jpg);
    width: 100%;
    align-content: center;
}

.headerText {
    margin: auto;
    font-size: 50px;
    background-color: rgba(50,50,50,.5);
    color: white;
    padding: 50px;
    text-shadow: 2px 5px rgb(0, 37, 0);
    border-radius: 80px;
}


.storySection {
    font-size: 4em;
    padding: 50px;
}

.authors {
    font-size: 1em;
}

h2 {
    font-size: 50%;
}

.overview {
    font-size: 50%;
    overflow: hidden;
}

.enterButton {
    font-size: 2em;
    margin: 25px;
    background-color: transparent;
    border: none;
    color: white;
    align-items: center;
    position: relative;
}

.buttonText {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 14em);
    z-index: 1;
    position: relative;
    color: #ffeb3b;
    font-size: 30px;
    overflow: hidden;
    height: 100px;
    cursor: pointer;
}

.buttonTextSpan {
    position: relative;
    color: #ffeb3b;
    font-weight: 600;
    font-size: 1.8em;
    height: 55px;
    text-shadow: 0 0 0px #ff8c3b, 0 0 5px #ff8c3b, 0 0 5px #ff8c3b, 0 0 1px #ff8c3b, 0 0 10px #ff8c3b;
    text-decoration: none;
    filter: url(#flames);
}

.fireEffect {
    width: 0;
    height: 0;
}

#uiArea {
    font-size: 20px;
    padding: 50px;
}

.circle {
    z-index: 0;
    position: relative;
    width: 700px;
    height: 700px;
    filter: url(#wavy) blur(1px);
}

.circle:before {
    background-color: transparent;
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 20px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 50px #0f0;
        inset: 0 0 50px #0f0;
            animation: animate 25s linear infinite;
        }

.circle::after {
    background-color: white;
    cursor: pointer;
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    border: 20px solid black;
    border-radius: 50%;
    box-shadow: 0 0 50px #fff;
        inset: 0 0 50px #fff;
            animation: animate 25s linear infinite;
        }

@keyframes animate {
    0%
    {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(0deg);
    }
    20% {
        box-shadow: 0 0 60px #0f0, inset 0 0 60px #0f0;
    }
    40% {
        box-shadow: 0 0 40px #0f0, inset 0 0 40px #0f0;
    }
    60% {
        box-shadow: 0 0 80px #0f0, inset 0 0 80px #0f0;
    }
    80% {
        box-shadow: 0 0 100px #0f0, inset 0 0 100px #0f0;
    }
    100%
    {
        box-shadow: 0 0 50px #0f0, inset 0 0 50px #0f0;
        filter: hue-rotate(360deg);
    }
}

svg {
    width: 0;
    height: 0;
}